@import url('https://fonts.googleapis.com/css?family=Ysabeau+Infant:400');

html {
    width: 100%;
    font-size: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Ysabeau Infant', sans-serif;
    font-weight: 400;
    line-height: 1.75;
    color: #000000;
    /* background: linear-gradient(to bottom,#e8e4e6, #abd1c6);  */
    /* background: linear-gradient(to bottom,#abd1c6, #475d5b);  */
    background-color: #abd1c6;
}

p {
    margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Ysabeau Infant', sans-serif;
    font-weight: 400;
    line-height: 1.3;
}

.aside__menu {
    background-color: #475d5b;
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 1rem;
    top: 0;
    left: 0;
}

.header {
    padding: 41px 943px 18px 59px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: #475d5b;
    padding: 0 5%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    text-align: left;
    text-decoration: none;
}

.nav_textmenu__link {
    font-family: 'Ysabeau Infant', sans-serif;
    font-size: 31px;
    font-weight: 400;
    line-height: 1.3;
    color: #f3ede4;
    text-decoration: none;
    margin: 3rem 0 1.38rem;
}

.main__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 14px;
}

.box-content {
    width: 530px;
    height: 400px;
    position: top;
    margin: 191px 94px 416px 816px;
    border-radius: 8px;
    background-color: #f3ede4;
}

.title_box {
    font-family: 'Ysabeau Infant', sans-serif;
    font-weight: 400;
    line-height: 1.3;
    margin: 48px 0 15px 10px;
    font-size: 1.953rem;
    color: #042630;
}

form.forms__curadoria {
    width: 530px;
    height: 217px;
    margin-top: 79px;
    border-radius: 8px;
    display: fixed;
    position: absolute;
    background-color: purple;
}

.text__form {
    font-family: 'Ysabeau Infant', sans-serif;
    font-weight: 400;
    line-height: 1.3;
    font-size: 28px;
    font-size: 1.2rem;
    color: #f3ede4;
    margin: 3px 3px 0px 10px;
}

.inputs__forms {
    font-family: 'Ysabeau Infant', sans-serif;
    font-size:20px;
    font-weight: 400;
    line-height: 1;
    font-size: 19px;
    color: #475d5b;
    border-radius: 8px;
    border-color: transparent;
    text-decoration: none;
    margin: 0 0 0 10px;
    position: static;
}

.inputs__textarea {
    font-family: 'Ysabeau Infant', sans-serif;
    font-size:20px;
    font-weight: 400;
    line-height: 1;
    font-size: 19px;
    color: #475d5b;
    border-radius: 8px;
    border-color: transparent;
    text-decoration: none;
    margin: 0 0 0 10px;
    position: static;
    max-width: 45%;
    max-height: 25%;
}

.button__forms {
    justify-content: center;
    background-color: #f3ede4;
    border-radius: 8px;
    line-height: 1;
    border-color: transparent;
    text-decoration: none;
    margin: 0 0 0 10px;
    position: static;
}
.text_button{
    font-family: 'Ysabeau Infant', sans-serif;
    font-weight: 400;
    line-height: 1.3;
    font-weight: 400;
    justify-content: center;
    font-size: 21px;
    margin: auto;
    color: #475d5b;
   
}

.block {
    align-items: center;
    width: 85%;
    min-height: 200px;
    background-color: #eadddd;
    margin: 10px;
    border-radius: 20px;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    display: inline-block
}

.block__curadoria {
    width: 90%;
    height: 918px;
    top: 106px;
    left: 386px;
    border-radius: 8px;
    background-color: aliceblue;

}

.box__one {
    width: 300px;
    height: 17px;
    flex-shrink: 0;
    align-items: center;
    display: flex;
    /* width: 85%; */
    border: 1.5px solid transparent;
    background-color: #eadddd;
    margin: 1px;
    border-radius: 8px;
    position: relative;
    padding: 14px 16px 16px 16px;
}

.box__two {
    align-items: center;
    width: 85%;
    min-height: 200px;
    background-color: #eadddd;
    margin: 10px;
    border-radius: 20px;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    display: inline-block
}

.box__three {
    align-items: center;
    width: 85%;
    min-height: 200px;
    background-color: #eadddd;
    margin: 10px;
    border-radius: 20px;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    display: inline-block
}